*{font-family: 'Kanit', sans-serif;}

.header-section{display: flex;justify-content:space-around;padding-left: 100px;padding-right: 100px; gap:20px; padding-top: 100px; background-color: #e5547325;}
.banner{width: 40%;}
.banner-img{width: 70%;}
.banner-title{font-size: 80px; line-height: 30px;}
.banner-text{font-size: 16px; padding-top: 20px; color: cadetblue;}
.banner-btn{background-color: rgb(216, 84, 106); margin-bottom: 20px;margin-top: 5px; border-radius: 5px; color: white;
    font-size: 18px;
    font-weight:700;
    border: 0;
    padding: 8px 40px;
    height: 64px;}






/* THis is the best aligned set of css that I wrote, use this format to align the images and the background, the centerness. this one also shows how I made the double image background
Playing with the top and botton padding makes the alignment perfect. The width of the image set can helpl make the image be sized */
.feature-text{text-align: center; margin-top: 100px;}
.feature-title{font-size: 35px;}
.feature-passage{font-size: 16px; padding-top: 0px; color: cadetblue; padding:0px 660px;}
.flower-trio{display: flex;justify-content: space-around; margin-right: 300px;margin-left: 300px;}
.flower-column{text-align: center;padding-top: 40px;}
.flower{width: 300px;padding-top: 81px;padding-left: 50px;padding-right: 50px;background-color: rgb(231, 145, 181);border-top-left-radius:200px ;border-top-right-radius:200px ;}
.flower-c{width: 300px;padding-bottom: 85px;padding-top: 110px;padding-left: 50px;padding-right: 50px;background-color: rgb(255, 192, 218);border-top-left-radius:200px ;border-top-right-radius:200px ;}
.flower-r{width: 300px;padding-top: 45px;padding-left: 50px;padding-right: 50px;background-color: rgb(192, 255, 211);border-top-left-radius:200px ;border-top-right-radius:200px ;}
/* Try to revise this block of code for future reference */



/* delivery  */
.delivery-info{display: flex;justify-content: space-around; margin-right: 300px;margin-left: 300px; padding-top: 10px ; padding-bottom:10px; background-color: #e5547325 ;margin-top: 150px; margin-bottom: 150px;}
.delivery-column{text-align: center;padding-top: 60px;}



/* hot-deals */
.hot-deals{display: flex;justify-content: space-around;background-color:#e5547325 ;margin-top: 100px;padding-right: 400px;padding-left: 400px;gap:80px;margin-bottom: 20px;}
.deal-column{text-align: center;padding-left: 40px;padding-right: 40px;padding-bottom: 50px;}
.deal-passage{font-size: 16px; padding-top: 0px; color: cadetblue;}
.off{color: rgb(216, 84, 106);}
.deal-btn{ background-color: rgb(216, 84, 106); color: white;padding:10px 40px;border-radius: 5px;border:0;margin-top: 10px;}
.left-part{padding-top:140px ;}
.right-part{padding-top:80px;margin-right:200px ;}
.deal-img{width: 150%;}




.ig-text{text-align: center;margin-top: 200px;padding-bottom:40px; }
.ig-images{display: flex; justify-content: space-around; margin-right: 300px;margin-left: 300px; gap:10px;}
.ig-img{width: 300px;}
h2{font-size: 35px;}



/* latest */
.latest{background-image: url("Flower Asset/Rectangle 9.png");margin-right: 300px;margin-left: 300px; padding-top:80px;margin-top:200px;text-align: center;}
.email-part input[type="email"] {display: block; margin-bottom: 25px; padding: 18px 35px;color: #757575;border-radius: 5px;background: #FFFFFF;border: 0;width:70%;margin-top: 30px;}
.email-part{display: flex;margin-right: 300px;margin-left: 300px;padding-bottom: 100px;gap: 10px;}
.latest-passage{font-size: 16px; color: cadetblue;}
.btn-email{ background-color: rgb(216, 84, 106); color: white; border-radius: 5px; border:0; height: 55px;width: 150px;margin-top:30px;font-size: 18px;}




/* footer */
.footer{text-align: center;margin-top: 150px;background: black;color: white;padding-top: 70px;padding-bottom: 70px;}
.footer-text{font-size: 16px;}
.copy-right{font-size: 13px;padding-top: 20px;color: grey;font-family: sans-serif;}
.footer-title{font-size: 40px;}
/* 



/* Responsive Design */

@media screen and (max-width:576px) 
{
    body{display:flex;justify-content:center; align-items: center;padding-top: 100px; background-color: #e5547325; flex-direction: column; padding-top: 0;}

    /* banner */
    .banner-title{font-size: 50px;line-height: 47px;  margin-bottom: -25px; }
    .banner-img{width: 220px; margin-top: 180px;}
    .banner-text{font-size: 16px; padding-top: 20px; color: cadetblue; text-align: left; }

    /* featured flower */
    .feature-text{text-align: center; margin-top: 100px;}
    .feature-passage{font-size: 16px; padding-top: 0px; color: cadetblue; padding:0px 660px; width: 300px;}
    .flower-trio{display: flex;flex-direction: column;justify-content: space-around; margin-right: 300px;margin-left: 300px;}
    /* this is single handedly the tag that makes the flowers go in a column! good job finding this one! */

    /* delivery section */
    .delivery-info{display: flex;flex-direction: column;justify-content: space-around; margin-right: 300px;margin-left: 300px; padding-top: 10px ; padding-bottom:10px; background-color: #e5547325 ;margin-top: 150px; margin-bottom: 150px;}

    /* deals section */
    .hot-deals{display: flex;flex-direction: column;justify-content: center; background-color:#e5547325 ;margin-top: 100px;margin-bottom: 20px;}
    .deal-passage{font-size: 16px; padding-top: 0px; color: cadetblue; width: 300px;}
    .deal-img{width: 200px;border: solid red 3px; border-radius: 20px;}
    .left-part{padding-top:140px ; border: 3px solid red; border-radius: 20px;; align-items: center; align-content: center; display: flex; flex-direction: column;}
    .right-part{padding-left:230px; padding-top: 0;}

    /* social media */
    .ig-images{display: flex; justify-content: center;  gap:10px; flex-direction: column; align-items: center; padding-top: 0;margin-top: 0;}
    .ig-text{text-align: center;margin-top: 120px;padding-bottom:0px; margin-bottom: 0px;justify-content: center;align-items: center;}

    /* email part */
    .btn-email{ background-color: rgb(216, 84, 106); color: white; border-radius: 5px; border:0; height: 55px;width: 300px;margin-top:30px;font-size: 18px;}

    /* footer section */
    .footer-text{font-size: 8px; width: auto;}
    .footer{text-align: center;margin-top: 30px;background: black;color: white;padding-top: 30px;padding-bottom: 70px; display: flex;flex-direction: column;}
}

/* medium devices */
@media screen  and (min-width:577px) and (max-width: 1919px )
{
    body{display:flex;justify-content:center; align-items: center;padding-top: 100px; background-color: #e5547325; flex-direction: column; padding-top: 0;}

    /* banner */
    .banner-title{font-size: 50px;line-height: 47px;  margin-bottom: -25px;}
    .banner-img{width: 500px; margin-top: 180px;}
    .banner-text{font-size: 16px; padding-top: 20px; color: cadetblue; text-align: left; }

    /* featured flower */
    .feature-text{text-align: center; margin-top: 100px;}
    .feature-passage{font-size: 16px; padding-top: 0px; color: cadetblue; padding:0px 660px; width: 300px;}
    .flower-trio{display: flex;flex-direction: column;justify-content: space-around; margin-right: 300px;margin-left: 300px;}
    /* this is single handedly the tag that makes the flowers go in a column! good job finding this one! */


    /* delivery section */
    .delivery-info{display: flex;flex-direction: column;justify-content: space-around; margin-right: 300px;margin-left: 300px; padding-top: 10px ; padding-bottom:10px; background-color: #e5547325 ;margin-top: 150px; margin-bottom: 150px;}

    /* deals section */
    .hot-deals{display: flex;flex-direction: column;justify-content: center; background-color:#e5547325 ;margin-top: 100px;margin-bottom: 20px;}
    .deal-passage{font-size: 16px; padding-top: 0px; color: cadetblue; width: 300px;}
    .deal-img{width: 200px;}
    .left-part{padding-top:140px ; align-items: center; align-content: center; display: flex; flex-direction: column;}
    .right-part{padding-left:230px; padding-top: 0;}

    /* social media */
    .ig-images{display: flex; justify-content: center;  gap:10px; flex-direction: column; align-items: center; padding-top: 0;margin-top: 0;}
    .ig-text{text-align: center;margin-top: 120px;padding-bottom:0px; margin-bottom: 0px; display: flex;flex-direction: column;align-items: center;}


    /* email part */
    .btn-email{ background-color: rgb(216, 84, 106); color: white; border-radius: 5px; border:0; height: 55px;width: 300px;margin-top:30px;font-size: 18px;}

    /* footer section */
    .footer-text{font-size: 8px; width: auto;}
    .footer{text-align: center;margin-top: 30px;background: black;color: white;padding-top: 30px;padding-bottom: 70px; display: flex;flex-direction: column;}


}




/* BASICALLY SOMETIMES THE PASSAGE WAS NOT GOING TO THE CENTER SO THE WAY TO SOLVE THIS IS MAKING SURE THE TAG IS 
IN DISPLAY FLEX, THEN YOU MAKE THE TAG FLEX DIRECTION COLUMN< THEN YOU MAKE THE ALIGN-ITEMS: Center!!!!! */